html {
  scroll-behavior: smooth;
}
* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Calibri Light',sans-serif;
  font-size: 14px;
  color: #383838;
}
.link-button{
  background-color: #fafafa ;
  padding: 5px 15px 5px 15px;
  border-radius: 2px !important;
  border: solid #e6e6e6 1px !important;
  margin-right: 30px;
  outline: none;
  margin-top:0px;
  height: 34px;
}
h5{
  margin: 0px;
}
p{
  margin: 0px;
}